:root {
    --nameSize: 7vw;
  }


@media screen and (max-width: 1300px) {
    .content-header {
      flex-direction: column;
      max-height: 90vh;
      width: 100vh;
      margin: 25px 1% auto 1%;
      padding-left: 15px;
      padding-right: 15px;
    }

    .content-header-words {
        margin-top: 5vw;
    }

    #profile-picture {
        margin-bottom: auto;
        margin-right: 0;
        height: 50vw;
        width: 50vw;
        max-width: none;
        max-height: none;
    }

    :root {
        --nameSize: 10vw;
      }
    
  }

.content-header {
    display: flex;
    display: row;
    width: 65vw;
    max-height: 60vh;
    background-color: #0000006b;
    padding: 2rem;
    border-radius: 25px;
    margin: 25px auto auto auto;
    justify-content: center;
    align-content: center;
}

.content-header-words {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

#name {
    background-color: #131342;
    padding: 1rem;
    border-radius: 25px;
    font-size: var(--nameSize);
    margin-top: auto;
}

#catchphrase {
    background-color: #131342;
    padding: 1rem;
    border-radius: 25px;
    margin-bottom: auto;
    font-size: ((2/7) * var(--nameSize));
}

#profile-picture {
    border-radius: 50%;
    height: 50vh;
    margin: auto 2rem auto auto;
    max-width: 100%;
    max-height: 100%;
}